<div class="main-component">
  <div class="background-container absolute inset-0 pointer-events-none" aria-hidden="true">
    <canvas data-particle-animation data-particle-quantity="40" data-particle-staticity="60"
      data-particle-ease="40"></canvas>
  </div>

  <div id="home" class="hero">
    <div class="hero-content animate__animated animate__fadeIn">
      <p class="section-subtitle">Hello, I'm</p>
      <h1>Randall Joseph Pajaro</h1>
      <h2 class="typewriter">Full Stack Developer</h2>
      <p>
        Passionate software engineer with more than 3 years of experience in building scalable and maintainable web applications and solving
        complex problems.
      </p>
      <div class="social-links">
        <a href="https://github.com/rjPajaro" title="GitHub" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/randall-joseph-pajaro-ab12a8213/" title="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>