@import "./mixins";

@media only screen and (max-width: 990px) {
  .card-body {
    /* Display & Box Model */
    flex-direction: column;
    align-items: flex-start !important;

    .column-grp,
    .first-column {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 350px) and (max-width: 991px) {
  .login-page {
    &__information {
      padding-right: 0 !important;
    }
  }
}
