// CLEAR FIX
%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// LIST RESET
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin position-absolute($top: null, $left: null, $right: null, $bottom: null) {
  /* Positioning */
  position: absolute;
  bottom: $bottom;
  left: $left;
  right: $right;
  top: $top;
}

// Position sticky;

@mixin position-sticky($position: sticky, $top: null, $right: null, $bottom: null, $left: null, $z-index: initial) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  /* Other */
  transition: $property $duration $timing $delay;
}

@mixin flex($align-items, $justify-content) {
  /* Display & Box Model */
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;

  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

// ADD VENDOR PREFIXES TO ANY CSS PROPERTY

@mixin css3-prefix($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}

// FONT-FACE RULE

@mixin font-face($name, $file) {
  @font-face {
    font-family: "#{$name}";
    src: url("../fonts/#{$file}.eot");
    src: url("../fonts/#{$file}.eot?#iefix") format("embedded-opentype"),
      url("../fonts/#{$file}.woff") format("woff"),
      url("../fonts/#{$file}.ttf") format("truetype"),
      url("../fonts/#{$file}.svg?#webfont") format("svg");
  }
}

// RETINA-READY IMAGES

@mixin retina-image($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6 / 2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

$breakpoints: (
  "xs": 25em,
  // 400px
  "sm": 34em,
  // 544px
  "md": 48em,
  // 768px
  "lg": 60em,
  // 960px
  "xl": 80em,
  // 1280px
  "xxl": 90em // 1440px...,,,,,,,,,,,,,,,,
);

@mixin respond-above($breakpoint) {
  // If the breakpoint exists in the map.

  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    // $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.

    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

// Text Shortening or Truncating
// Usage @include text-shorten(3);

@mixin text-shorten($numLines: 1) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: $numLines) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
  }
}

// PLACEHOLDER

@mixin placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}
