/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/mixins";

@import "./assets/sass/styles";

@import "~@fortawesome/fontawesome-free/css/all.css";

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}